header {
    background-image: url('https://media.discordapp.net/attachments/1296789503670751252/1298215104814387236/background.jpg?ex=6718c088&is=67176f08&hm=70a78b386ef19a7f5a35ef2e326b8bdb45ba4f640815a78f4aa962cd3841b40f&=&format=webp&width=1141&height=662'); 
}

h1 {
    text-align: center;
}

.nav  {
    text-decoration: none;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin: 20px;
   }

.Remi { 
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


.tittle:hover {
  color: black;
}

body{
    width: 100%;
    height: 400%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-y: 100%;
    background-position-x: 100%;
}

* {
    box-sizing: border-box;
    color: black ;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 1200px;
  }

  main {
    padding: 20px 0;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .flex-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .flex-item img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
  }
  

  /* Filmographie */

  #filmographie .container{
    width: 100%;
    align-items: center;
  }

  #filmographie .flex-item{
    width: 400px;
    height: 400px;
  }

  #filmographie .flex-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

@media (max-width: 768px) {
  .container{
    flex-direction: column;
  }
  
}

.opacisection {
  opacity: 0.7;
  text-align: center;
}

.opacisectionactu {
  opacity: 0.7;
  text-align: center;
  margin-top: 200px;
}

.opacilien {
  opacity: 0.7;
}

.nonopacisection {
  opacity: 1;
  text-align: center;
}

/* Slides */
.slider {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Styles pour chaque slide */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Affichage des slides en fonction de la sélection du bouton radio */
#slide1:checked ~ .slide:nth-child(2),
#slide2:checked ~ .slide:nth-child(4){
  opacity: 1;
}

/* Masquage des boutons radio */
input[type="radio"] {
  display: none;
}

/* Navigation */
.navigation {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.nav-button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + .slide + .navigation .nav-button {
  background-color: #333;
}

/* Affichage des slides en fonction de l'animation */
@keyframes slide-animation {
  0%, 45% { opacity: 1; }   /* Slide 1 visible */
  50%, 95% { opacity: 0; }  /* Slide 1 invisible, Slide 2 visible */
  100% { opacity: 1; }   
}

.slide:nth-child(2) {
  animation: slide-animation 8s infinite;
}

.slide:nth-child(4) {
  animation: slide-animation 8s infinite;
  animation-delay: 4s; /* Délai pour alterner les slides */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

